.banner {
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    width: 90%;
    height:60vw;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/banner.jpg);
    background-size: 100%;
}

.banner > h1 {
    color: white;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 50px;
}

@media (max-width:300px) {
    .banner > h1 {
        font-size: 20px;
    }
}

@media (max-width:500px) {
    .banner > h1 {
        font-size: 30px;
    }
}