.container {
    margin-top: 20px;
    width:100%;
    height:fit-content;
    display: flex;
    justify-content: space-between;
}

.img {
    background-image: url(../assets/coffee-bag.png);
    background-size:contain;
    width:180px;
    height:160px;
    align-self: center;
    margin-right: 5%;
}

.text {
    width:50%;
    padding:5%;
}

p {
    text-align: justify;
}

@media (min-width:600px) {
    .img {
        width:250px;
        height:250px;
    }
}

@media (max-width: 400px) {
    .container {
        flex-direction: column;
    }
    .img {
        background-image: url(../assets/coffee-bag.png);
        background-size:contain;
        width:150px;
        height:150px;
        align-self: center;
        margin-right: 5%;
    }
    
    .text {
        width:90%;
        padding:5%;
    }
}